{% extends "package/edit_base.html" %}

{% block subtitle %}{{ _('Edit catalog') }} - {{ h.dataset_display_name(pkg) }}{% endblock %}

{% set controller = 'ckanext.controllers.publishing:PublishingController' %}

{% block styles %}
  {{ super() }}
  {% resource 'publ_theme/publishing.css' %}
{% endblock %}

{% block page_primary_action %}{% endblock %}

{% import 'macros/form.html' as form %}

{% if catalog %}
  {% set cat_id = catalog.id %}
  {% set type = catalog.type %}
  {% set url = catalog.url %}
  {% set req_auth = catalog.authorization_required %}
  {% set auth = catalog.authorization %}
  {% set org_id = catalog.ext_org_id %}
  {% set create_as_private = catalog.create_as_private %}
{% else %}
  {% set cat_id = '' %}
  {% set type = 'CKAN' %}
  {% set url = '' %}
  {% set req_auth = true %}
  {% set auth = '' %}
  {% set org_id = '' %}
  {% set create_as_private = false %}
{% endif %}

{% block primary_content_inner %}
  {% resource 'publ_theme/publishing.js' %}
  <div class="publ_header">
    {% if catalog %}
      {{ _('Modify external catalog') }}
    {% else %}
      {{ _('Add new external catalog') }}
    {% endif %}
  </div>
  <form method='post' class="module-content form-horizontal" action="{% url_for controller=controller, action=form_action, id=c.pkg_dict.id %}">
  	<input type="hidden" name="catalog_id" value="{{ cat_id }}"/>
    {{ form.select('type', label=_('Type of catalog'), options=[{'value':'CKAN', 'text':'CKAN'}], selected=type, error=error, is_required=true) }}
    {{ form.input('url', label=_('URL of external catalog'), placeholder=_('http://...'), value=url, error=error, is_required=true) }}
    {{ form.checkbox('authorization_required', label=_('requires authorization'), checked=req_auth) }}
    {{ form.input('authorization', label=_('Authorization (API key)'), placeholder=_('API key'), value=auth, type='password', error=error, is_required=false) }}
    {{ form.input('org_id', label=_('Organization'), placeholder=_('organization id or name'), value=org_id, error=error, is_required=false) }}
    {{ form.checkbox('create_as_private', label=_('Create as private'), checked=create_as_private) }}
    <div class="form-actions">
      {% link_for _('Back'), controller=controller, action='show', id=c.pkg_dict.name, class_='btn' %}
	  <input type="submit" class="btn btn-primary" value="{{ submit_label or _('Save') }}" />
    </div>
  </form>
{% endblock %}