{% extends 'package/edit_base.html' %}

{% block subtitle %}{{ _('Publishing') }} - {{ h.dataset_display_name(pkg) }}{% endblock %}

{% set controller = 'ckanext.controllers.publishing:PublishingController' %}

{% block styles %}
  {{ super() }}
  {% resource 'publ_theme/publishing.css' %}
{% endblock %}

{% block page_primary_action %}
  <div class="dropdown btn-group">
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	  <i class="icon-share-alt"></i>
	    {{ _('Action') }}
		<span class="caret"></span>
    </a>
	<ul class="dropdown-menu">
	  <li>
        {% link_for _('Add catalog'), controller=controller, action='create', id=pkg_dict.name, icon='plus' %}
	  </li>
	  <li>
		{% link_for _('Synchronize with public catalog now'), controller=controller, action='sync_public', id=pkg_dict.name, icon='upload-alt' %}
      </li>
      {% if catalogs %}
      <li>
        {% link_for _('Synchronize with all external catalogs now'), controller=controller, action='sync_all_ext', id=pkg_dict.name, icon='upload-alt' %}
      </li>
      {% endif %}
	</ul>
  </div>
{% endblock %}

{% block primary_content_inner %}
  <div class="publ_header">List of associated external catalogs</div>
  {% if catalogs %}
  	<table class="publ_catalogs">
  	  <tr>
  	    <th>URL</th>
  	    <th>Type</th>
  	    <th>Authorization</th>
  	    <th>Last sync on (UTC)</th>
  	    <th>Status</th>
  	    <th>Action</th>
  	  </tr>
  	  {% for cat in catalogs %}
      <tr>
        <td>{{ cat.url }}</td>
        <td>{{ cat.type }}</td>
        <td>
        {% if cat.authorization_required %}
          {{ _("Yes") }}
        {% else %}
          {{ _("No") }}
        {% endif %}  
        </td>
        <td>{{ h.format_datetime(cat.last_updated) or _('N/A') }}</td>
        <td>{{ cat.status_string() }}</td>
        <td>
          <div class="dropdown btn-group">
		    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			  <i class="icon-share-alt"></i>
			  {{ _('Action') }}
			  <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
			  <li>
			    {% link_for _('Edit'), controller=controller, action='edit', id=pkg_dict.name, cat_id=cat.id, icon='edit' %}
			  </li>
			  <li>
			    {% link_for _('Delete'), controller=controller, action='delete', id=pkg_dict.name, cat_id=cat.id, icon='minus' %}
			  </li>
			  <li>
			    {% link_for _('Synchronize now'), controller=controller, action='sync_ext', id=pkg_dict.name, cat_id=cat.id, icon='arrow-right' %}
			  </li>
			</ul>
		  </div>
        </td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
  <p>{{ _('no external catalogs defined') }}</p>
  {% endif %}
{% endblock %}